<div>
  <h3>Component Kitchen</h3>
  <div>
    <h3>Pendiente de Cocinar</h3>
      <ul>
        @for (item of ltsFood; track $index) {
            <li>
              ({{ item.numero }}) - {{ item.descripcion }}
              <button (click)="cocinar($index)" [disabled]="btnStatus">
                cocinar
              </button>
            </li>
          }
      </ul>
  </div>
  @if (pedido.numero) {
    <div>
      <h3>Pedidos en cocción</h3>
      <li>({{pedido.numero}}) {{pedido.nombre}} - {{pedido.descripcion}} </li> <br>
      <button (click)="pedidoTerminado()">Pedido Terminado!</button>
    </div>
  }
</div>
